# templates/controlplane-patch.yaml.j2
machine:
  network:
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - {{ item.ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
        {% if item.role == 'controlplane' %}
        vip:
          ip: {{ controlplane_vip }}
        {% endif %}
    nameservers:
      - {{ dns_server }}
  install:
    disk: /dev/sda
  time:
    disabled: false
    servers:
      - time.cloudflare.com

cluster:
  id: "{{ cluster_id | default('1') }}"
  secret: "{{ cluster_secret | default('') }}"
  apiServer:
    certSANs:
      - "{{ controlplane_vip }}"
      - "127.0.0.1"
{% for node in nodes %}
      - "{{ node.ip }}"
{% endfor %}
  controlPlane:
    endpoint: "https://{{ controlplane_vip }}:6443"
  network:
    cni:
      name: none
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
    dnsDomain: cluster.local
  inlineManifests:
    - name: cilium
      contents: |
        apiVersion: helm.cattle.io/v1
        kind: HelmRelease
        metadata:
          name: cilium
          namespace: kube-system
        spec:
          repo: https://helm.cilium.io/
          chart: cilium
          version: 1.14.4
          targetNamespace: kube-system
          valuesContent: |-
            ipam:
              mode: kubernetes
            k8sServiceHost: {{ controlplane_vip }}
            k8sServicePort: 6443
            kubeProxyReplacement: strict
            socketLB:
              enabled: true
            hubble:
              enabled: true
              relay:
                enabled: true
              ui:
                enabled: true