# Machine-specific network configuration patch
machine:
  network:
    interfaces:
      - interface: ens18
        dhcp: false
        addresses:
          - {{ item.ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
{% if item.role == 'controlplane' %}
        vip:
          ip: {{ controlplane_vip }}
{% endif %}
    nameservers:
      - {{ dns_server }}